h1{

    color: rgb(231, 250, 247);
    background-color: #dd53c6;
}

li{

    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(221, 221, 204);
    size: 10%;



}


h2{

color: rgb(255, 20, 147);


}

.text{

align-self: center;
font-family: Georgia, 'Times New Roman', Times, serif;



}

